@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap');

body {
    color: #333;
    font: 400;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

nav {
    background-color: #000;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; /* permite varias líneas */
}

nav ul li {
    flex: 1 0 25%; /* 5 por fila */
    min-width: 120px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 10px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #0056b3;
}

nav a {
    text-transform: capitalize;
}

nav h1,h2
footer h1 {
    font-family: 'Coiny', cursive;
}

nav h1 {
    margin-right: auto;
    color:#fff;
}

header h1 {
    font-weight: 700;
    font-size:20px;
}

h1,h2,h3,h4, .item { color: black;}

h2,
h3 {
    font-size: 20px;
    background-color: #FCEE21;
    /* display: inline; */
}

h3 {
    font-size: 26px;
}

h2, h3{
    font-weight: none;
}

h3 {
    margin: 0;
    font-size: 17px;
    color: white;
    background-color: black;
    padding: 5px;
}

h4 {
    margin: 0;
    font-size: 51px;
    color: white;
    background-color: black;
    line-height: 100px;
    padding: 10px;
    display: inline;
}

section {
    margin: auto;
    width: 95%; 
}

article img{
    display: block;
    margin: auto;
    max-width: 95%;
    height: auto;
}

table th {
  vertical-align: top;
  color: #fff;
  background-color: #000;
}

table td {
  vertical-align: top;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.float{
    overflow: hidden;
}
.float img{
    float: right;
}


